<div class="card bg-light shadow my-4">
  <div class="card-body">
    <form #form="ngForm" (submit)="onSubmit()">
      <h4 class="card-title text-center">Add Appointment</h4>
      <div class="form-group mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="record.name" placeholder="Enter name" required>
      </div>
      <div class="form-group mb-3">
        <label for="date">Date</label>
        <input type="date" class="form-control" [(ngModel)]="record.date" name="date" required>
      </div>
      <div class="form-group mb-3">
        <label for="hour">Hour</label>
        <input type="time" class="form-control" [(ngModel)]="record.hour" name="hour" required>
      </div>
      <div class="form-group mb-3">
        <label for="symptom">Symptom</label>
        <textarea class="form-control" [(ngModel)]="record.symptom" name="symptom" rows="3"
          placeholder="Enter your symptom" required></textarea>
      </div>
      <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-lg btn-block w-100 mb-3">
        Submit
      </button>
    </form>
  </div>
</div>